<div class="home-page-bkgd">
<div class="home-page-container-jumbotron">
    <div class="text-center">
    <h1 class="display-3"><strong>Travel Goals</strong></h1>
      <p class="lead">"Life is too short not to Travel!"</p>
      <a class="btn btn-info" href="/login" role="button">Log In</a>
      <a class="btn btn-info" href="/signup" role="button">Sign Up</a>
    </div>
  </div>
</div>
